.DS_Store
.github/.DS_Store
.git
.idea
.vscode

node_modules
docs/node_modules
applications/**/node_modules
theia-extensions/**/node_modules

plugins
applications/**/lib
**/dist
docs/build
docs/.docusaurus

coverage
.cache
